<span class="glyphicon glyphicon-remove"></span>
<%= link_to activity.owner.username, activity.owner if activity.owner %>
removed a company
  <% if activity.trackable %>
    <%= activity.trackable.name %>
  <% end %>