<div class="container">
  <div class="col-md-10">
    <h1>Settings</h1>
    
    <ul>
      <li><%= link_to "My profile", user_path(current_user) %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Import", new_import_path %></li>
      <li><%= link_to "ChangeLog", changelog_path %></li>
    </ul>
  </div>
</div>