<div class="container">
  <div class="col-md-10">
    <h1>Companies import</h1>
    <%= simple_form_for Import.new, :html => { :multipart => true } do |f| %>
      <%= f.input :base %> 
      <%= f.button :submit %>
    <% end %>
  </div>
</div  