<div class="container">
  <div class="col-md-10">
    <h1>Companies import</h1>
    <%= form_tag import_companies_path, multipart: true do %>
    <%= file_field_tag :file %><br />
      <%= submit_tag "Import" %>
    <% end %>
  </div>
</div>