<div class="container">
  <h1>ChangeLog</h1><br />
  <h4>Todo</h4>
  <ul>
    <li>Form for new company with new contact</li>
    <li>Export module</li>
    <li>Basic roles</li>
  </ul>
  <h4>BartCRM <strong>0.04</strong> 2014-03-19</h4>
  <ul>
    <li>User's login</li>
  </ul>
  <h4>BartCRM <strong>0.03</strong> 2014-03-14</h4>
  <ul>
    <li>Fluid layout</li>
    <li>Search by name on companies</li>
    <li>Sort by everything on companies</li>
    <li>Move import module to settings</li>
  </ul>
  <h4>BartCRM <strong>0.02</strong> 2014-03-10</h4>
  <ul>
    <li>Added basic import module. Working only with companies and CSV spreeadsheet</li>
    <li>Added changelog page</li>
  </ul>
  <h4>BartCRM <strong>0.01</strong> 2014-02-05</h4>
  <ul>
    <li>Created BartCRM with companies and contact basic forms</li>
  </ul>
</div>
