.container
  %h1 ChangeLog
  %br/
  %h4
    %strong 0.1
    2014-04-01
    %ul
      %li One form for company and contact
      %li ...
    %h4
      %strong 0.04
      2014-03-19
    %ul
      %li User's login
    %h4
      %strong 0.03
      2014-03-14
    %ul
      %li Fluid layout
      %li Search by name on companies
      %li Sort by everything on companies
      %li Move import module to settings
    %h4
      %strong 0.02
      2014-03-10
    %ul
      %li Added basic import module. Working only with companies and CSV spreeadsheet
      %li Added changelog page
    %h4
      %strong 0.01
      2014-02-05
    %ul
      %li Created BartCRM with companies and contact basic forms