%span{:class => "page#{' current' if page.current?}"}
  - unless page.current?
    = link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}
  - else
    %span.current_page_pagination= current_page.to_s + " of " + total_pages.to_s