/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require bootstrap.min
 *= require bootstrap
 *= require select2
*= require select2-bootstrap
*= require rails_bootstrap_forms
*= require bootstrap
*= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
*/

/* divs and menus */
html {
  position: relative;
  min-height: 100%;
}
body{
  background-color: #6c6d6c;
  margin-bottom: 60px;
}
body > .container{
  background-color: #dcdcdc;
  padding: 60px 15px 0;
}
.navbar-brand {
  padding: 2px 15px 15px 15px;
}
.nav > li:hover {
  color: #d2cbc4;
}
.navbar-default .navbar-nav > li > a{
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d2cbc4;
  background-color: transparent;
}
.navbar-default {
  background-color: #363636;
}
#current {
  color: #DFDDDD;
  background-color: #E93855;
}
.panel-body {
  background-color: #666666;
}
.panel-primary{
  border-color: #666666;
}
.panel-body{
  padding-bottom: 8px;
}
.panel-body .form-control{
  margin-top: 5px;
}
.panel-body .btn-lg{
  font-size: 22px;
  padding-bottom: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
}
.container .text-muted {
  margin: 10px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.col-md-9{
  margin-bottom: 10px;
}

/* tables */


.table-striped tbody,
.table-striped tbody a{
  color: #797979;
}
.table tbody tr:hover a,
.table tbody tr:hover{
  background-color: #E93855;
  color: white;
}
.table-striped > tbody > tr:nth-child(odd):hover > td  {
  background-color: #E93855;
}
.table-striped thead th{
  background-color: #6c6d6c;
}
.table-striped thead a{
  color: white;
}
.table-striped tbody tr:hover a:hover{
  color: #D6D6D6;
}
.table-striped th:nth-child(1){
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.table-striped th:nth-last-child(1){
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
/* buttons */
.btn-primary {
  background-color: #d1354f;
  border-color: #d1354f;
  font-size: 20px
}
.btn-primary:hover {
  background-color: #d1354f;
  border-color: #d1354f;
}


.xls-download{
  display: inline-block;
  width: 30px;
  height: 44px;
  background: url('/img/xlsdownload.png');
}
.xls-download:hover{
  background: url('/img/xlsdownload_hover.png');
}

/* fonts */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

h3{
  margin: 12px 0 14px 0;
}
.yellow:hover{
  color:yellow;
}

/* forms */
.form-control:focus{
  border-color: #E93855;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 56, 85, .6);
           box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 56, 85, .6);
}
/* rest */


.showaction{
  visibility: hidden;
}
tr:hover .showaction{
  visibility: visible;
}
